.swiper-pagination {
    display: none;
}

.mySwiper2 {
    height: 594px;
}

.mySwiper2 img {
    height: 594px;
}

.mySwiper {
    margin-top: 16px;
    max-height: 86px;
}

.mySwiper img {
    height: 86px;
}

@media screen and (max-width: 768px) {
    .mySwiper2 {
        height: 238px;
        width: 137px;
    }

    .mySwiper2 img {
        height: 198px;
    }

    .swiper-pagination {
        display: block;
    }

    .swiper-pagination-bullet {
        height: 7px;
        width: 7px;
    }

    .swiper-pagination-bullet-active {
        background: black;
        height: 9px;
        width: 9px;
    }

    .mySwiper {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .mySwiper2 {
        height: 300px;
        width: 188px;
    }
}